.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
@keyframes App-logo-spin2 {
    0% {
    transform: rotate(0deg);
      color: yellow;
    }
    50% {
      color: orangered;
    }
    100% {
    transform: rotate(360deg);
      color: yellow;
    }
  }
.form-control {
  background-color: #282c34;
  color: white!important;
  width: 50%;
  margin: 50px auto;
}
.form-control:focus {
  background-color: #282c34;
}
.p-sun {
  color: yellow;
  font-size: 5rem;
  animation: App-logo-spin2 infinite 20s ease-in-out;
  position: absolute;
}
.p-div-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}